*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  background: white;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.title {
  text-align: center;
  color: #3A2A46;
  letter-spacing: 1px;
}

.second {
  text-align: center;
  color: #f1f7fa;
  letter-spacing: 2px;
}

.bmi-calc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 10px;
  padding: 0px 45px;
}

.bmi-calc__label {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-size: 18px;
}

.bmi-calc__output {
  background: #8F00FF;
  width: 100%;
  padding: 15px;
}

.range {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome*/
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  cursor: pointer;
}

.range:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.range:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #8F00FF;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.range::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #8F00FF;
}

.range::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #8F00FF;
}

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  /* Hides the slider so custom styles can be added */
  background: #eaf6ff;
  border-color: transparent;
  color: transparent;
}

.range::-moz-range-track {
  width: 100%;
  height: 3px;
  /* Hides the slider so custom styles can be added */
  background: #eaf6ff;
  border-color: transparent;
  color: transparent;
}

.range::-ms-track {
  width: 100%;
  height: 3px;
  /* Hides the slider so custom styles can be added */
  background: #eaf6ff;
  border-color: transparent;
  color: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer__a {
  text-decoration: none;
  color: #0085EA;
}
/*# sourceMappingURL=style.css.map */