$main: #8F00FF;
$text: #3c2e45;
$greyish: #A2B6C3;

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

#app{
    background: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.title{
    text-align: center;
}

.second{
    text-align:center;
    color: rgb(41, 41, 41);
    letter-spacing: 1px;
}

.bmi-calc{
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 120px;

    }

    &__label{
        transform:translateY(-10px);
    }
}

.range{
    width: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    &__a{
        text-decoration: none;
        color: #0085EA; 
    }
}